# Dépendances Node.js
node_modules/
npm-debug.log
yarn-error.log

# Fichiers OS
.DS_Store
Thumbs.db

# Environnement
.env
.env.local

# Fichiers IDE / Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
